<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- መጀመርታ ንበይኑ ዝኾነ ፍቓድ (Permission) እንተደኣ ኣድልዩካ ኣብዚ ትውስኾ -->
    <!-- ንኣብነት፡ <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- Flutter ባዕሉ እዚ የድልዮ እዩ -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 
      Queries block: ን url_launcherን ካልኦት ፕላጊናትን ኣገዳሲ እዩ።
      እዚ ን Android 11+ (API 30+) የድሊ።
    -->
    <queries>
        <!-- እዚ ን https:// scheme ንኽሰርሕ (ን url_launcher) -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <!-- እዚ ን http:// scheme ንኽሰርሕ -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="http" />
        </intent>
        <!-- እዚ ን ProcessTextPlugin -->
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>

    <application
        android:label="መኣዲ ጸጋ"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>